@model SocialGasy.Models.User

<div class="container mt-4">
    <h3>Mamorona Agent Vaovao</h3>
    <form asp-action="CreateAgent" method="post">
        <div class="mb-3">
            <label>Anarana Feno</label>
            <input asp-for="FullName" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>CIN</label>
            <input asp-for="Cin" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Adiresy</label>
            <input asp-for="Address" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Telefaona</label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Tehirizo</button>
        <a asp-action="Dashboard" class="btn btn-secondary">Hiverina</a>
    </form>
</div>